<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout::lhead('Welcome')">
    <title>Welcome to Blog</title>
</head>
<body>
<div th:replace="layout/layout::lheader('home')"></div>

<div class="container">
    <p th:utext="#{welcome.message}">Welcome to our grocery store, Sebastian!</p>
    <main id="posts" class="col-md-8 col-sm-9">
        <article th:each="p : ${latest3posts}">
            <h2 class="title" th:text="${p.title}">Post Title</h2>
            <div class="date">
                <i>Posted on</i>
                <span th:text="${#temporals.format(p.createdDate, 'dd-MMM-yyyy')}">22-May-2016</span>
                <i>by</i>
                <span th:text="${p.reader.username}">Dono</span>
            </div>
            <p class="content" th:utext="${p.body}">Post content</p>
        </article>
    </main>

    <aside class="col-md-3 col-sm-3 hidden-xs sidebar-offcanvas">
        <h3>Recent Posts</h3>
        <div class="list-group">
            <a th:each="p : ${latest5posts}" th:href="@{/post/view/{id}/(id=${p.id})}" th:text="${p.title}">link
                text</a>
        </div>
        <!--<a href="#" th:each="p : ${latest5posts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>-->
    </aside>
</div>

<div th:replace="layout/layout::lfooter"></div>
<th:block th:replace="layout/layout::assets"/>
</body>
</html>
